<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('button').click(function(){
        $.get("/getCharacterName", function(data, status){
            $('.character-container').text(data);
        });
    });
  // jQuery methods go here...
});
</script>
<style>
h1 {
    color: blue;
}
</style>
<script>
    console.log("hello guys");
</script>
<body>
<h1>This is the Imagination Game</h1>
<button>Create character</button>
<div class="character-container">

</div>
</body>
</html>